// RESPONSIVENESS
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin maxtablet {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.projects {
  padding: 20px;

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      width: 380px;

      @include mobile {
        width: 100%;
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 4px;
        margin-bottom: 12px;
      }

      .link {
        color: blue;
        text-decoration: none;
        background: #fff;
        padding: 10px;
        border-radius: 5px;

        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
}
